@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f3f3f3;
}

.wrapper{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left{
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left h4{
    padding-top: 40%;
    margin-bottom: 10px;
}
.wrapper .left p{
    font-size: 12px;
}

.wrapper .right{
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
    padding: 30px 25px;
}

.wrapper .right .info{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.wrapper .right .info_data{

    justify-content: space-between;
}

.wrapper .right .info_data .data{
    width: 75%;
}

.wrapper .right .info_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p{
    font-size: 13px;
    color: #919aa3;
    margin-bottom: 10px;
}

.avatar {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;

}

.myButton {
	box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#353c4e;
	font-family:Courier New;
	font-size:12px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-top: 20%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}


