<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <div id = "logo">
        <h2><a href = "{{ url_for('home') }}">Gym Homies</a></h2>
    </div>

    <div class="wrapper">
        <div class="left">
            <img src="/static/avatar.png" alt="Avatar" class="avatar" width="60%" height="40%">
            <h4> {{ User.username }}</h4>
            <p>{{ User.experience }}</p>
            <div class="data">
                        <h4>Rating</h4>
                        <p>{{ User.rating }}</p>
            </div>
            <div class="data">
                <button class="myButton">Edit Profile</button>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <ul>
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Level</h4>
                        <p>{{ User.level }}</p>
                    </div>
                    <div class="data">
                        <h4>Type of Workout</h4>
                        <p>{{ User.workout_type }}</p>
                    </div>
                    <div class="data">
                        <h4>Position</h4>
                        <p>{{ User.position }}</p>
                    </div>
                    <div class="data">
                        <h4>Experience</h4>
                        <p>{{ User.experience }}</p>
                    </div>
                    <div class="data">
                        <h4>About Me</h4>
                        <p>Hi My Name is Dom, I like to wok out and get big so I be a big boy. My workout has bench, much squats, and dumbbells! I enjoy cardio too!</p>
                    </div>
                </div>
            </ul>
            </div>
        </div>

    </div>
</body>
</html>