<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='workout.css') }}">
</head>
<body>

    <div id = "logo">
        <h2><a href = "{{ url_for('home') }}">Gym Homies</a></h2>
    </div>

    <div id = "menu" class = "menu">
        <!-- Could create a logo for the website, but for now we can just use text -->
        <div id = "top_menu_sect" class = "top_menu_sect">
            <!-- These will be the buttons used to go to each page of the website -->
            <div id = "menu_button">
                <p><a href = "{{ url_for('tips') }}">Tips</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('workouts') }}">Workouts</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('about') }}">About</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('my_profile') }}">My Profile</a></p>
            </div>
        </div> <!-- End of top_menu_sect -->
    </div><!-- End of menu -->

    <div class="app">
  <h1>Bodyparts</h1>

  <ul class="hs full">
    <li class="item">Biceps</li>
    <li class="item">Triceps</li>
    <li class="item">Back</li>
    <li class="item">Calves</li>
    <li class="item">Quads</li>
    <li class="item">Shoulders</li>
  </ul>

  <div class="container">
    <div class="item">
      <h3>Block for context</h3>
    </div>
  </div>
</div>

</body>
</html>