<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='workout.css') }}">
</head>
<body>

    <div id = "logo">
        <h2>Gym Homies</h2>
    </div>

    <div id = "menu" class = "menu">
        <!-- Could create a logo for the website, but for now we can just use text -->
        <div id = "top_menu_sect" class = "top_menu_sect">
            <!-- These will be the buttons used to go to each page of the website -->
            <div id = "menu_button">
                <p><a href = "{{ url_for('tips') }}">Tips</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('workouts') }}">Workouts</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('about') }}">About</a></p>
            </div>
            <div id = "menu_button">
                <p><a href = "{{ url_for('my_profile') }}">My Profile</a></p>
            </div>
        </div> <!-- End of top_menu_sect -->
    </div><!-- End of menu -->

<div class="row">
  <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Biceps</h3>

    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Triceps</h3>


    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Shoulders</h3>


    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Back</h3>

    </div>
  </div>

     <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Quads</h3>

    </div>
  </div>

     <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Calves</h3>

    </div>
  </div>

    <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Traps</h3>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <h3><a href = "{{ url_for('workouts') }}"style="color:white"/>Abs</h3>
    </div>
  </div>
</div>

</body>
</html>